body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px 30px;
    width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h1 {
    font-style: italic;
    font-size: 25px;
    margin-bottom: 25px;
    color: #000;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.card-label {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}

.card input[type="text"],
.card input[type="number"] {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.form-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btn-actualizar {
    font-size: 16px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn-cancelar {
    font-size: 16px;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn-actualizar:hover {
    background-color: blue;
}

.btn-cancelar:hover {
    background-color: #d32f2f;
}

.regresar {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 30px;
    z-index: 1000;
    font-size: 16px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.regresar:hover {
    background-color: blue;
}