body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fff;
}

.linea-superior {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.barra-superior {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
}

.logo img {
    margin-left: 40px;
    height: 70px;
}

.perfil-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.perfil-container h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.perfil-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #f3f4f6;
}

.datos-container {
    text-align: left;
    margin-bottom: 20px;
}

.dato {
    margin-bottom: 15px;
}

.dato label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

.dato input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
}

.dato input:read-only {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    cursor: not-allowed;
}

.acciones {
    margin-top: 20px;
    text-align: center;
}

.btn-cerrar-sesion {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.btn-cerrar-sesion:hover {
    background-color: #ff3333;
}

.btn-regresar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.btn-cerrar-sesion:hover {
    background-color: blue;
}