body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrar {
    display: flex;
    gap: 10px;
    text-align: center;
}

.imagen {
    border: 3px solid black;
    border-radius: 20px;
    height: 150px;

}

.rol {
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rol:hover {
    transform: scale(1.09);
}

p {
    font-style: italic;
    font-size: 20px;
    margin-top: 0px;
}
